QGroupBox{background-color: transparent; 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px; 
    margin-top: 3ex;
    font-size: 24px;
} 
    
QGroupBox:title {
    subcontrol-position: top middle; 
    padding: 0px 0px 0px 3px;}